<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-gwas</string>
	<key>category</key>
	<string>myWorkflows</string>
	<key>connections</key>
	<dict>
		<key>17432091-9261-4427-9D12-5524514AFEC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76595B2F-BED7-421D-9DD2-84223E355EF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3ABBBCAA-B34D-44A8-90C3-10CDE8C64012</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B11610E4-CEC7-43B8-B79B-7D30CE301D20</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Show this (complete) item in large font and copy to clipboard</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BA024A6-A356-4780-99A4-7ACF20024901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>699ADFDD-0B0B-4CBD-93EC-EBB59388F477</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy entire text (all results) to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2CFE3AC-9EA3-4E5C-A41C-9DB533551E33</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>⬅️ back</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76595B2F-BED7-421D-9DD2-84223E355EF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3ABBBCAA-B34D-44A8-90C3-10CDE8C64012</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99981613-3EE3-446B-9255-E2A40F19723F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2CFE3AC-9EA3-4E5C-A41C-9DB533551E33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80227F6F-5A8D-4312-9798-F92AE27D0E7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CE5789EF-5DC1-4C54-A5BD-32F3AA07CC9A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>65ABACDB-26F3-4D99-8E2A-145E05195090</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B64C559F-544E-4836-8CDE-97569D6E60D8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>557B9C36-D8EF-471C-9C50-3A1BE9667134</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6E7636A0-D4CF-41C1-A000-52E93CC53B70</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B11610E4-CEC7-43B8-B79B-7D30CE301D20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E38BB156-012F-438A-9C25-3936B8E024F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>31843F63-69D9-4A85-AF79-7135282AC472</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C66B35FD-06D8-4233-B22E-80DB797B7D24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAA05931-850D-4751-98E1-DE20543181BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CE5789EF-5DC1-4C54-A5BD-32F3AA07CC9A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2E84778-9472-48A7-851A-87F07879DA5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3ABBBCAA-B34D-44A8-90C3-10CDE8C64012</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C66B35FD-06D8-4233-B22E-80DB797B7D24</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>⬅️ back</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F29756A9-34B2-4DF7-8C3E-04C61692D9CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58C59CD3-F209-48B5-B3C0-840E46E38F9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@giovannicoppoIa</string>
	<key>description</key>
	<string>Browse the GWAS catalog in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred GWAS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:myBIGFONT}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E38BB156-012F-438A-9C25-3936B8E024F8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B11610E4-CEC7-43B8-B79B-7D30CE301D20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:myBIGFONT}</string>
				<key>textcolor</key>
				<string>#00F900FF</string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>31843F63-69D9-4A85-AF79-7135282AC472</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:traitQuery}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching catalog…</string>
				<key>script</key>
				<string>python3 query-trait.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Lookup traits in the GWAS catalog</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:myENTRY_Q}</string>
				<key>externalid</key>
				<string>traitQuery</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>76595B2F-BED7-421D-9DD2-84223E355EF9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>23</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>5</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>17432091-9261-4427-9D12-5524514AFEC9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching catalog…</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 query-items.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>List-Items</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3ABBBCAA-B34D-44A8-90C3-10CDE8C64012</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>List-Items</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>2BA024A6-A356-4780-99A4-7ACF20024901</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>21</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>99981613-3EE3-446B-9255-E2A40F19723F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:geneQuery}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching catalog…</string>
				<key>script</key>
				<string>python3 query-gene.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Lookup genes in the GWAS catalog</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:myENTRY_Q}</string>
				<key>externalid</key>
				<string>GWG</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:myTextOutput}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>699ADFDD-0B0B-4CBD-93EC-EBB59388F477</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>traitQuery</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>80227F6F-5A8D-4312-9798-F92AE27D0E7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

	  set theQuery to quoted form of item 1 of argv
	  log theQuery
		set myPath to ((system attribute "alfred_preferences") &amp; "/workflows/" &amp; (system attribute 		"alfred_workflow_uid"))
		set myPathQ to quoted form of myPath
		log myPathQ
      tell application "Terminal"
        	activate
		do script ("cd " &amp; myPathQ)
		delay 1

		do script ("python3 build-GWAS-index.py " &amp; theQuery) in window 1

      end tell


end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58C59CD3-F209-48B5-B3C0-840E46E38F9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>rebuild GWAS database</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>F29756A9-34B2-4DF7-8C3E-04C61692D9CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mySource}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>GWG</string>
						<key>outputlabel</key>
						<string>geneMaster</string>
						<key>uid</key>
						<string>CE5789EF-5DC1-4C54-A5BD-32F3AA07CC9A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C66B35FD-06D8-4233-B22E-80DB797B7D24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mySource}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>traitGene</string>
						<key>outputlabel</key>
						<string>queryTrait</string>
						<key>uid</key>
						<string>CE5789EF-5DC1-4C54-A5BD-32F3AA07CC9A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mySource}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>geneTrait</string>
						<key>outputlabel</key>
						<string>queryGene (GWG)</string>
						<key>uid</key>
						<string>B64C559F-544E-4836-8CDE-97569D6E60D8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mySource}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>geneMasterSearch</string>
						<key>outputlabel</key>
						<string>geneMaster</string>
						<key>uid</key>
						<string>6E7636A0-D4CF-41C1-A000-52E93CC53B70</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A2CFE3AC-9EA3-4E5C-A41C-9DB533551E33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>GWG</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>65ABACDB-26F3-4D99-8E2A-145E05195090</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>GeneMaster</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>lookup-gene</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EAA05931-850D-4751-98E1-DE20543181BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>GeneMasterSearch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>lookup-gene</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>557B9C36-D8EF-471C-9C50-3A1BE9667134</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-GWAS 🧬
An Alfred workflow to quickly interrogate the GWAS catalog

# Motivation ✅

- to obtain, without opening websites, a summarized version of all genes associated with a particular trait in the GWAS catalog, or all traits asssociated with a gene or locus.
- quickly access papers supporting a gene-trait association

# Basic Usage 📖

## Querying by gene 🧬
- launch with keyword (default: `gwg`) or custom hotkey, enter a search string. Results will include a gene name, the number of associated traits, and the number of papers.
- output is sorted by number of traits by default. Adding `--p` to the search string will sort by number of papers. 
- once a gene is selected, associated traits are shown, including for each trait the range of OR (or beta), minimum p-value, number of papers supporting the association, and number of associated loci. It is possible to refine the list of associated traits by entering an additional search string. 

	- `ctrl-enter` will show the currently selected gene-trait pair in large font, and copy to clipboard
	- `cmd-enter` will copy the entire gene-trait list to clipboard
	- `cmd-option-enter` will go back to the previous list
- once a gene-trait pair is selected, individual associations are shown, with OR min p-value, and source publication. 
 	- `ctrl-enter` will show the currently selected association in large font, and copy to clipboard
	- `cmd-enter` will copy the entire set of associations to clipboard
- once an individual association is selected, `enter` will open the supporting publication in Pubmed. 	

	
## Querying by trait 👤
- launch with keyword (default: `gwt`) or custom hotkey. Results will include a gene name, the number of associated traits, and the number of papers. 
- once a gene is selected, associated traits are shown, including for each trait the range of OR (or beta), minimum p-value, number of papers supporting the association, and number of associated loci.
- output is sorted by number of supporting papers. Adding `--es` to the search string will sort by largest reported effect size (OR or beta). 
	- `ctrl-enter` will show the currently selected gene-trait pair in large font, and copy to clipboard
	- `cmd-enter` will copy the entire gene-trait list to clipboard
	- `cmd-option-enter` will go back to the previous list  
- once a gene-trait pair is selected, individual associations are shown, with OR min p-value, and source publication. 
 	- `ctrl-enter` will show the currently selected association in large font, and copy to clipboard
	- `cmd-enter` will copy the entire set of associations to clipboard
- once an individual association is selected, `enter` will open the supporting publication in Pubmed.</string>
	<key>uidata</key>
	<dict>
		<key>17432091-9261-4427-9D12-5524514AFEC9</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>2BA024A6-A356-4780-99A4-7ACF20024901</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>31843F63-69D9-4A85-AF79-7135282AC472</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>3ABBBCAA-B34D-44A8-90C3-10CDE8C64012</key>
		<dict>
			<key>note</key>
			<string>List Items</string>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>557B9C36-D8EF-471C-9C50-3A1BE9667134</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>58C59CD3-F209-48B5-B3C0-840E46E38F9D</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>65ABACDB-26F3-4D99-8E2A-145E05195090</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>699ADFDD-0B0B-4CBD-93EC-EBB59388F477</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>76595B2F-BED7-421D-9DD2-84223E355EF9</key>
		<dict>
			<key>note</key>
			<string>Search GWAS catalog by trait</string>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>80227F6F-5A8D-4312-9798-F92AE27D0E7E</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>99981613-3EE3-446B-9255-E2A40F19723F</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>A2CFE3AC-9EA3-4E5C-A41C-9DB533551E33</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>B11610E4-CEC7-43B8-B79B-7D30CE301D20</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>C66B35FD-06D8-4233-B22E-80DB797B7D24</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>E2E84778-9472-48A7-851A-87F07879DA5C</key>
		<dict>
			<key>note</key>
			<string>Search GWAS catalog by trait</string>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>E38BB156-012F-438A-9C25-3936B8E024F8</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>EAA05931-850D-4751-98E1-DE20543181BD</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>F29756A9-34B2-4DF7-8C3E-04C61692D9CD</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gwg</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Query by Gene keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>geneQuery</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gwt</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Query by Trait keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>traitQuery</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.4</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-GWAS</string>
</dict>
</plist>
